/*
Creator: Li Chang Zhang
Date created: April 10, 2022 
*/
/*note: page layout - using class "container", which set the padding and margin already. */
body {
	background-color: #fef9ff;
	font-family: "Times New Roman", "Times", "serif";
	color: #0d1f2d;
}

header h1 {
	font-family: "Arial", "Helvetica", "sans-serif";
}

header,
footer {
	background-color: #5b7d87;
	color: #fef9ff;
	padding: 30px 10px 20px 10px;
}

h1 {
	font-size: 2.5em;
}

nav {
	border-top: 3px dashed #546a7b;
	border-bottom: 3px dashed #546a7b;
	margin-top: 4px;
	background-color: #e4c3ad;
}


nav a:visited {
	color: #e4c3ad !important;
}

nav a {
	background-color: #5b7d87 !important;
	color: #fef9ff !important;
}


nav a:hover {
	background-color: #fef9ff !important;
	color: #5b7d87 !important;
	border: 2px solid #5b7d87 !important;
	font-weight: bold;
}


nav a:active {
	color: red !important;
}
